{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<form method='POST'>
     {% csrf_token %}
     <fieldset >
     	<legend class="border-bottom mb-4">Delete Post</legend>
     	<h6>Do you want to delete the post---{{object.title}}
      	{{form|crispy}}
     </fieldset>
     <div class="form-group">
     <button class="btn btn-info " type="submit">Yes</button>
     <a href="{% url 'post_detail' object.id %}" class="btn btn-danger">Cancel</a>
     </div>
    
	</form>
</div>
{% endblock %}